In [14]:
# Q1
r = float(input('Enter radius: '))
pi = 3.14159
print(f'The area of circle is {pi*r**2}')

Enter radius: 19
1134.11399

In [13]:
# Q2
fname = input('Enter your first name: ')
lname = input('Enter your last name: ')
print(lname, fname)

Enter your first name: Felise
Enter your last name: Pandiora
Pandiora Felise

In [12]:
# Q3
color_list = ['Red', 'Green', 'White', 'Black']
print(color_list[0], color_list[-1])

Red Black

In [17]:
# Q4
n = input('Enter any integer: ')
print(eval(f'{n} + {n}{n} + {n}{n}{n}'))

Enter any integer: 1
123

In [19]:
# Q5
pi = 3.14159
r = 6
print(f'The volume of sphere is {(4/3)*pi*(r**3)}')

904.7779199999999

In [21]:
# Q6
n = int(input('Enter any number: '))
if n <= 17:
    print(17-n)
else: 
    print((n-17)*2)

Enter a number: 18
2

In [24]:
# Q7
n1 = int(input('Enter the first number: '))
n2 = int(input('Enter the second number: '))
n3 = int(input('Enter the third number: '))
if n1 == n2 == n3:
    print((n1+n2+n3)*3)
else: 
    print(n1+n2+n3)

Enter the first number: 1
Enter the second number: 1
Enter the third number: 1
9

In [27]:
# Q8
n = int(input('Enter any number: '))
if n%2 == 1:
    print(f'{n} is an odd number')
else:
    print(f'{n} is an even number')

Enter any number: 887
887 is an odd number

In [30]:
# Q9
vowel = ['a', 'e', 'i', 'o', 'u']
a = input('Enter any alphabet:  ')
if a in vowel:
    print(f'{a} is vowel')
else:
    print(f'{a} is consonant')

Enter any alphabet:  u
u is vowel

In [34]:
# Q10
religionIndo = ['Buddhist', 'Muslim', 'Hindu', 'Catholic', 'Protestant', 'Confucian']
religion = input('Enter a religion: ').title()
if religion in religionIndo:
    print(f'{religion} is a religion recognized by Indonesia')
else:
    print(f'{religion} is not a religion recognized by Indonesia')

Enter a religion: muslim
Muslim is a religion recognized by Indonesia

In [84]:
# Q11
def histogram(emo):
    n = 1
    for i in emo:
        display = ''
        rep = i
        while rep > 0:
            display += '⬛️'
            rep -= 1
        print('{:1}{:1}|{:10}'.format('n', n, display))
        n += 1
n1 = int(input('Enter the first number: '))
n2 = int(input('Enter the second number: '))
n3 = int(input('Enter the third number: '))
n4 = int(input('Enter the fourth number: '))
list = [n1, n2, n3, n4]
histogram(list)

Enter the first number: 3
Enter the second number: 6
Enter the third number: 1
Enter the fourth number: 9
n1|⬛️⬛️⬛️
n2|⬛️⬛️⬛️⬛️⬛️⬛️
n3|⬛️
n4|⬛️⬛️⬛️⬛️⬛️⬛️⬛️⬛️⬛️

In [41]:
# Q12
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
 958,743, 527]
for i in numbers:
    if i%2 == 0:
        print(i)
    else:
        continue

386
462
418
344
236
566
978
328
162
758
918
412
566
826
248
866
950
626
104
58
512
24
892
894
742
958

In [42]:
# Q13
base = int(input('Enter the base of a triangle: '))
height = int(input('Enter the height of a triangle: '))
print(f'The area of the triangle is {base*height/2}')

Enter the base of a triangle: 3
Enter the height of a triangle: 4
The area of the triangle is 6.0

In [46]:
# Q14
n1 = int(input('Enter the first positive int: '))
n2 = int(input('Enter the second positive int: '))
z = n1*n2
for i in range(1, z+1):
    if i%n1 == 0 and i%n2 == 0:
        print(f'The LCM of {n1} and {n2} is {i}')
        break

Enter the first positive int: 7
Enter the second positive int: 3
The LCM of 7 and 3 is 21

In [50]:
# Q15
n1 = int(input('Enter the first number: '))
n2 = int(input('Enter the second number: '))
n3 = int(input('Enter the third number: '))
if n1 == n2 or n2 == n3 or n1 == n3:
    print('The sum is zero')
else: 
    print(f'The sum is {n1+n2+n3}')

Enter the first number: 3
Enter the second number: 6
Enter the third number: 6
The sum is zero

In [51]:
# Q16
x = int(input('Enter the first number: '))
y = int(input('Enter the second number: '))
print(f'The result of (x+y)*(x+y) is {(x+y)**2}')

Enter the first number: 4
Enter the second number: 3
The result of (x+y)*(x+y) is 49

In [60]:
# Q17
amt = float(input('Enter the principle amount: '))
rateInt = float(input('Enter the rate of interest: '))
period = float(input('Enter the period: '))
futureValue = amt*(1+(0.01*rateInt))**period
print(f'The future value is {round(futureValue,2)}')

Enter the principle amount: 10000
Enter the rate of interest: 3.5
Enter the period: 7
The future value is 12722.79

In [66]:
# Q18
x1 = int(input('Enter the first x coordinate: '))
y1 = int(input('Enter the first y coordinate: '))
x2 = int(input('Enter the second x coordinate: '))
y2 = int(input('Enter the second y coordinate: '))
X = x2 - x1
Y = y2 - y1
print(f'The distance between the points: {(((x2-x1)**2) + ((y2-y1)**2))**0.5}')

Enter the first x coordinate: 1
Enter the first y coordinate: 6
Enter the second x coordinate: -3
Enter the second y coordinate: -4
The distance between the points: 10.770329614269007

In [72]:
# Q19
n = int(input('Enter any positive int: '))
print(f'The sum of the first {n} positive int: {(n*(n+1))//2}')

Enter any positive int: 4
The sum of the first 4 positive int: 10

In [73]:
# Q20
feet = int(input('Enter your height (feet): ')) # 1 foot = 12 inches
inches = int(input('Enter your height (inches): ')) # 1 inch = 2.54 cm
height = ((feet*12)*2.54) + (inches*2.54)
print(f'Your height in centimeters: {height}')

Enter your height (feet): 5
Enter your height (inches): 4
Your height in centimeters: 162.56

In [74]:
# Q21
print('Given a right angled triangle with 3 sides (adjacent, opposite, and hypotenuse)')
a = float(input('Enter the adjacent length: '))
o = float(input('Enter the opposite length: '))
h = ((a**2)+(o**2))**0.5
print(f'The hypotenuse of the right angled triangle is {h}')

Given a right angled triangle with 3 sides (adjacent, opposite, and hypotenuse)
Enter the adjacent length: 6
Enter the opposite length: 9
The hypotenuse of the right angled triangle is 10.816653826391969

In [75]:
# Q22
w = float(input('Enter your weight (kg): '))
h = float(input('Enter your height (m): '))
bmi = w / (h**2)
print(f'Your BMI is {bmi}')

Enter your weight (kg): 52
Enter your height (m): 1.62
Your BMI is 19.81405273586343

In [78]:
# Q23
print('Please enter the coordinates of a line')
x1 = int(input('Enter the first x coordinate: '))
y1 = int(input('Enter the first y coordinate: '))
x2 = int(input('Enter the second x coordinate: '))
y2 = int(input('Enter the second y coordinate: '))
mpx = (x1+x2)/2
mpy = (y1+y2)/2
print(f'The midpoint of your line is {mpx},{mpy}')

Please enter the coordinates of a line
Enter the first x coordinate: 2
Enter the first y coordinate: 3
Enter the second x coordinate: 3
Enter the second y coordinate: 4
The midpoint of your line is 2.5,3.5

In [83]:
# Q24
for i in range (2000, 3201):
    if i%7 == 0 and i%5 != 0:
        print(i, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,